/***** MAX-WIDTH: 768px *****/
@media (max-width: 768px) {
  .grid-container {
    display: block;
  }
}

/**** MAX-WIDTH: 640px *****/
@media (max-width: 640px) {
  .social-icons {
    justify-content: center;
  }
}

/***** MAX-WIDTH: 384px *****/
@media (max-width: 384px) {
  .text h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  .text p {
    font-size: 1.6rem;
    text-align: center;
  }

  .text .register:link,
  .text .register:visited {
    width: 100%;
    text-align: center;
  }
}
